<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/style.css')}}">
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/main.js')}}"></script>
    <title>Flask</title>
</head>
<body>

    <a href="{{url_for('index')}}">Index</a>
    <a href="{{url_for('about')}}">About</a>
    {% block content %}
    
    {% endblock content %}
</body>
</html>