{% extends "base.html" %}

{% block content %}
    <h2>Hola {{ username }}</h2>
    <p>Estas en el curso de {{ course }}</p>
    {% if is_premium %}
    <p>el curso es premium</p>
    {% endif %}

    {% if courses %}
        <p>
        Listado de Cursos:
        </p>
        <ul>
            {% for course in courses %}
                <li>{{ course }}</li>
            {% endfor %}
        
        </ul>
    {% endif %}

    <img src="{{ url_for('static', filename = 'images/descarga.jpg')}}" alt="">
{% endblock content %}
    
    
    

